<li class="portfolio-piece grid-dynamic mix  {{page.header.portfolio.filter}}">
	<div class="portfolio-piece-wrap theme-color-bg-secondary">
		<img src="{{page.header.img.src}}" alt="{{page.header.img.alt}}">
	</div>
				
	<div class="portfolio-piece-expansion">
		<div class="portfolio-piece-expansion-inner">
			<figure>
				<h3>{{page.header.title}}</h3>
				<img src="{{page.header.largeImg.src}}" alt="{{page.header.largeImg.alt}}">
				<figcaption>
					<p>{{page.header.portfolio.description}}</p>
				</figcaption>
			</figure>
		</div>
	</div>
</li>