<li class="portfolio-piece grid-dynamic mix {{page.header.portfolio.filter}}">
	<a href="#" data-largesrc="{{page.header.img.large}}">
		<img src="{{page.header.portfolio.img}}" alt="">
	</a>

	<span class="portfolio-overlay"></span>
		
	<div class="portfolio-piece-expansion">
		<div class="portfolio-piece-expansion-inner">
			<figure>
				<img src="{{page.header.portfolio.img}}" alt="">
				<figcaption>
					<h3>{{page.header.title}}</h3>
				</figcaption>
			</figure>
		</div>
	</div>
</li>